:root {
  --primary: #EBEEF6;
  --white: white;
  --navlink: #F5F6FA;
  --11: #111111;
  --main: #177EFF;
  --light-main: #70AEFD;
  --light-bg: #B2C2DF;
  --required: #ff4d4f;
  --black-1: #667281;
  --2F:#2F2F2F;
}
