@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Arial';
    font-style: normal;;
}

* {
    box-sizing: border-box;
}


.css-1s2u09g-control {
    background-color: var(--navlink) !important;
    border: none !important;
    outline: none !important;
}

.css-1pahdxg-control {
    border-color: var(--main) !important;
    box-shadow: 0 0 0 1px var(--main) !important;
}
#react-select-3-placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color:  #9CA3B9!important;
}
